## Generating Sample Data

The goal is to generate sample data from the raw data pulled from data source. 

## Data Collection
- Data Source: 2017 Yellow Taxi Trip Data: https://data.cityofnewyork.us/Transportation/2017-Yellow-Taxi-Trip-Data/biws-g3hs/data
- The data is generated from the trip record submission made by yellow taxi Technology Serivice Providers(TSPs). Each row represents a single trip in a yellow taxi. The trip records include fields capturing pick-up and drop-off dates/times, pick-up and drop-off taxi zone locations, trip distances, itemized fares, rate types, payment types, and driver-reported passenger counts.
- We'll generate a sample of 100,000 rows to use for EDA and model training

Importing required packages

In [1]:
from pyspark.sql import SparkSession

In [2]:
# Create SparkSession
spark = SparkSession.builder.appName("CSV_Sample").getOrCreate()

In [5]:
#Reading the dataset
raw_data = spark.read.csv("..\..\data\\2017_Yellow_Taxi_Trip_Data.csv",header = True,inferSchema=True)

In [6]:
raw_data.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2|07/27/2017 06:38:...| 07/27/2017 06:49:...|              1|         1.56|         1|                 N|         170|          79|           1|        9.0|  1.0|    0.5|      2.16|         0.0|                  0.3|       12.96|
|       2|07/27/2017 06:51:...| 07/27/2017 07:00:...|              1|         0.77|         1|                 N|          79|         144|           1|        7.5|  1.0|    0.5|      1.86|         0.0|                  0.3|       11.16|
|       1|07/27/2017 06:02:...| 07/27/2017 06:18:...|              1|          1.2|         1|                 N|          90|         170|           1|       11.0|  1.0|    0.5|       0.1|         0.0|                  0.3|        12.9|
|       1|07/27/2017 06:19:...| 07/27/2017 06:32:...|              1|          1.9|         1|                 N|         170|          68|           1|       10.0|  1.0|    0.5|       0.1|         0.0|                  0.3|        11.9|
|       1|07/27/2017 06:42:...| 07/27/2017 06:58:...|              1|          1.5|         1|                 N|         234|          68|           1|       11.0|  1.0|    0.5|       2.0|         0.0|                  0.3|        14.8|
|       2|07/27/2017 06:49:...| 07/27/2017 07:17:...|              5|         2.86|         1|                 N|         114|         229|           1|       17.5|  1.0|    0.5|      3.86|         0.0|                  0.3|       23.16|
|       2|07/27/2017 06:00:...| 07/27/2017 06:11:...|              5|         1.71|         1|                 N|         162|         236|           1|        9.5|  1.0|    0.5|      2.26|         0.0|                  0.3|       13.56|
|       2|07/27/2017 06:14:...| 07/27/2017 06:24:...|              5|         1.76|         1|                 N|         263|         229|           1|        8.5|  1.0|    0.5|      2.58|         0.0|                  0.3|       12.88|
|       2|07/27/2017 06:31:...| 07/27/2017 06:40:...|              5|         1.77|         1|                 N|         229|         236|           2|        8.0|  1.0|    0.5|       0.0|         0.0|                  0.3|         9.8|
|       1|07/27/2017 06:04:...| 07/27/2017 06:20:...|              1|          2.0|         1|                 N|         263|         239|           2|       11.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        13.3|
|       1|07/27/2017 06:23:...| 07/27/2017 06:28:...|              2|          0.4|         1|                 N|         239|         143|           1|        5.0|  1.0|    0.5|      1.35|         0.0|                  0.3|        8.15|
|       1|07/27/2017 06:33:...| 07/27/2017 07:05:...|              2|          6.1|         1|                 N|         238|         234|           1|       23.0|  1.0|    0.5|       6.2|         0.0|                  0.3|        31.0|
|       1|07/27/2017 06:42:...| 07/27/2017 06:46:...|              2|          0.4|         1|                 N|         211|         114|           1|        4.5|  1.0|    0.5|       1.0|         0.0|                  0.3|         7.3|
|       2|07/27/2017 06:05:...| 07/27/2017 06:14:...|              5|         2.42|         1|                 N|         237|          24|           1|       10.0|  1.0|    0.5|       2.0|         0.0|                  0.3|        13.8|
|       2|07/27/2017 06:20:...| 07/27/2017 06:34:...|              5|         2.11|         1|                 N|         238|         230|           1|       11.0|  1.0|    0.5|       2.0|         0.0|                  0.3|        14.8|
|       2|07/27/2017 06:37:...| 07/27/2017 07:12:...|              5|         2.69|         1|                 N|         161|         113|           1|       18.0|  1.0|    0.5|      3.96|         0.0|                  0.3|       23.76|
|       2|07/27/2017 06:09:...| 07/27/2017 06:23:...|              1|         1.93|         1|                 N|         236|         239|           1|       10.5|  1.0|    0.5|       1.0|         0.0|                  0.3|        13.3|
|       2|07/27/2017 06:25:...| 07/27/2017 06:28:...|              1|         0.51|         1|                 N|         239|         238|           1|        4.0|  1.0|    0.5|      1.16|         0.0|                  0.3|        6.96|
|       2|07/27/2017 06:38:...| 07/27/2017 06:43:...|              1|         0.91|         1|                 N|         238|          43|           1|        5.5|  1.0|    0.5|      1.46|         0.0|                  0.3|        8.76|
|       2|07/27/2017 06:49:...| 07/27/2017 06:53:...|              1|         0.89|         1|                 N|         236|         263|           1|        5.0|  1.0|    0.5|      1.36|         0.0|                  0.3|        8.16|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

In [7]:
#checking the schema
raw_data.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [8]:
# Sample 5 million rows explicitly (optional)
df_sample = raw_data.sample(withReplacement=False, fraction=0.001)

In [9]:
df_sample.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2|07/27/2017 06:04:...| 07/27/2017 06:42:...|              1|         10.8|         1|                 N|         143|         138|           1|       36.0|  1.0|    0.5|       5.0|        5.76|                  0.3|       48.56|
|       2|07/27/2017 06:30:...| 07/27/2017 06:52:...|              6|         6.53|         1|                 N|         231|         162|           1|       21.0|  1.0|    0.5|      3.42|         0.0|                  0.3|       26.22|
|       2|07/27/2017 06:01:...| 07/27/2017 06:24:...|              1|         3.11|         1|                 N|         100|         238|           2|       16.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        17.8|
|       2|07/27/2017 06:31:...| 07/27/2017 06:43:...|              1|         0.71|         1|                 N|         233|         230|           1|        8.5|  1.0|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2|07/27/2017 06:10:...| 07/27/2017 06:19:...|              1|         1.35|         1|                 N|         186|         249|           1|        7.5|  1.0|    0.5|      2.79|         0.0|                  0.3|       12.09|
|       2|07/27/2017 06:17:...| 07/27/2017 06:34:...|              1|         1.37|         1|                 N|         246|         164|           1|       11.0|  1.0|    0.5|      2.56|         0.0|                  0.3|       15.36|
|       2|07/27/2017 06:33:...| 07/27/2017 07:08:...|              1|         3.69|         1|                 N|         161|         231|           1|       21.5|  1.0|    0.5|      4.66|         0.0|                  0.3|       27.96|
|       1|07/27/2017 06:39:...| 07/27/2017 06:50:...|              1|          1.2|         1|                 N|          79|         249|           1|        8.0|  1.0|    0.5|       2.0|         0.0|                  0.3|        11.8|
|       1|07/27/2017 06:21:...| 07/27/2017 06:57:...|              1|         10.0|         1|                 N|         138|         237|           1|       33.0|  1.0|    0.5|       8.1|        5.76|                  0.3|       48.66|
|       2|07/27/2017 06:36:...| 07/27/2017 06:48:...|              1|         1.35|         1|                 N|         107|         230|           1|        9.0|  1.0|    0.5|       2.7|         0.0|                  0.3|        13.5|
|       2|07/27/2017 06:18:...| 07/27/2017 06:22:...|              3|         0.78|         1|                 N|         161|         237|           1|        5.0|  1.0|    0.5|      1.36|         0.0|                  0.3|        8.16|
|       2|07/27/2017 06:40:...| 07/27/2017 06:48:...|              1|          0.8|         1|                 N|         170|         137|           1|        6.5|  1.0|    0.5|      0.83|         0.0|                  0.3|        9.13|
|       1|07/27/2017 06:09:...| 07/27/2017 06:26:...|              1|          3.2|         1|                 N|         249|         256|           1|       14.5|  1.0|    0.5|       3.0|         0.0|                  0.3|        19.3|
|       1|07/27/2017 06:16:...| 07/27/2017 06:44:...|              1|          4.4|         1|                 N|         236|          48|           2|       20.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        22.3|
|       2|07/27/2017 06:25:...| 07/27/2017 07:03:...|              1|         11.8|         1|                 N|         186|         138|           1|       36.5|  1.0|    0.5|     11.02|        5.76|                  0.3|       55.08|
|       1|07/27/2017 07:54:...| 07/27/2017 08:11:...|              1|          2.0|         1|                 N|         161|         114|           1|       12.5|  1.0|    0.5|      10.0|         0.0|                  0.3|        24.3|
|       1|07/27/2017 07:27:...| 07/27/2017 07:52:...|              1|          5.3|         1|                 N|         239|         114|           1|       21.0|  1.0|    0.5|      4.55|         0.0|                  0.3|       27.35|
|       2|07/27/2017 07:08:...| 07/27/2017 07:25:...|              1|         1.24|         1|                 N|         237|         143|           2|       10.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        12.3|
|       2|07/27/2017 07:16:...| 07/27/2017 07:33:...|              1|         6.68|         1|                 N|         229|          13|           1|       21.5|  1.0|    0.5|      4.66|         0.0|                  0.3|       27.96|
|       2|07/27/2017 07:01:...| 07/27/2017 07:19:...|              1|         1.92|         1|                 N|         162|         142|           2|       12.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        14.3|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

In [10]:
df_sample.count()

113118

In [11]:
#converting to pandas dataframe
pandas_df = df_sample.toPandas()

In [12]:
pandas_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,07/27/2017 06:04:13 PM,07/27/2017 06:42:53 PM,1,10.80,1,N,143,138,1,36.0,1.0,0.5,5.00,5.76,0.3,48.56
1,2,07/27/2017 06:30:35 PM,07/27/2017 06:52:03 PM,6,6.53,1,N,231,162,1,21.0,1.0,0.5,3.42,0.00,0.3,26.22
2,2,07/27/2017 06:01:39 PM,07/27/2017 06:24:32 PM,1,3.11,1,N,100,238,2,16.0,1.0,0.5,0.00,0.00,0.3,17.80
3,2,07/27/2017 06:31:48 PM,07/27/2017 06:43:38 PM,1,0.71,1,N,233,230,1,8.5,1.0,0.5,2.06,0.00,0.3,12.36
4,2,07/27/2017 06:10:56 PM,07/27/2017 06:19:01 PM,1,1.35,1,N,186,249,1,7.5,1.0,0.5,2.79,0.00,0.3,12.09

In [13]:
pandas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113118 entries, 0 to 113117
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               113118 non-null  int32
 1   tpep_pickup_datetime   113118 non-null  object
 2   tpep_dropoff_datetime  113118 non-null  object
 3   passenger_count        113118 non-null  int32
 4   trip_distance          113118 non-null  float64
 5   RatecodeID             113118 non-null  int32
 6   store_and_fwd_flag     113118 non-null  object
 7   PULocationID           113118 non-null  int32
 8   DOLocationID           113118 non-null  int32
 9   payment_type           113118 non-null  int32
 10  fare_amount            113118 non-null  float64
 11  extra                  113118 non-null  float64
 12  mta_tax                113118 non-null  float64
 13  tip_amount             113118 non-null  float64
 14  tolls_amount           113118 non-null  float64
 15  improvement_surcharge  113118 non-null  float64
 16  total_amount           113118 non-null  float64
dtypes: float64(8), int32(6), object(3)
memory usage: 12.1+ MB

In [14]:
#saving the dataframe to a csv file
pandas_df.to_csv("..\..\data\Yellow_Taxi_Trip_Sample.csv",index=False)